@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  /* Colors */
  --color-cyan-300: hsl(192, 90%, 77%);
  --color-cyan-600: hsl(192, 37%, 48%);

  --color-purple-300: hsl(268, 100%, 86%);
  --color-purple-600: hsl(268, 34%, 53%);

  --color-slate-300: hsl(240, 18%, 85%);
  --color-slate-600: hsl(240, 10%, 57%);
  --color-slate-900: hsl(240, 21%, 20%);

  --color-white: hsl(0, 0%, 98%);

  /* Typography */
  --font-family: "Red Hat Display", ui-sans-serif, system-ui, sans-serif;
  --text-preset-1: 900 4rem/110% var(--font-family);
  --text-preset-2: 900 2.5rem/110% var(--font-family);
  --text-preset-3: 900 1rem/110% var(--font-family);
  --text-preset-4: 500 1.125rem/110% var(--font-family);
  --text-preset-5: 900 1rem/150% var(--font-family);

  /* Spacing */
  --spacing-50: 0.25rem;
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-700: 3.5rem;
  --spacing-800: 4rem;
  --spacing-900: 4.5rem;
  --spacing-1000: 5rem;
  --spacing-1400: 7rem;
}
