@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  /* Colors */
  --color-cyan-300: hsl(192, 90%, 77%);
  --color-cyan-600: hsl(192, 37%, 48%);

  --color-purple-300: hsl(268, 100%, 86%);
  --color-purple-600: hsl(268, 34%, 53%);

  --color-slate-300: hsl(240, 18%, 85%);
  --color-slate-600: hsl(240, 10%, 57%);
  --color-slate-900: hsl(240, 21%, 20%);

  --color-white: hsl(0, 0%, 98%);

  /* Typography */
  --font-family: "Red Hat Display", ui-sans-serif, system-ui, sans-serif;
  --text-preset-1: 900 4rem/110% var(--font-family);
  --text-preset-2: 900 2.5rem/110% var(--font-family);
  --text-preset-3: 900 1rem/110% var(--font-family);
  --text-preset-4: 500 1.125rem/110% var(--font-family);
  --text-preset-5: 900 1rem/150% var(--font-family);

  /* Spacing */
  --spacing-50: 0.25rem; /* 4px */
  --spacing-100: 0.5rem; /* 8px */
  --spacing-200: 1rem; /* 16px */
  --spacing-300: 1.5rem; /* 24px */
  --spacing-400: 2rem; /* 32px */
  --spacing-500: 2.5rem; /* 40px */
  --spacing-700: 3.5rem; /* 56px */
  --spacing-800: 4rem; /* 64px */
  --spacing-900: 4.5rem; /* 72px */
  --spacing-1000: 5rem; /* 80px */
  --spacing-1400: 7rem; /* 112px */

  /* Footer Images */
  --footer-img-mobile: url("../assets/mobile/image-footer.jpg");
  --footer-img-tablet: url("../assets/tablet/image-footer.jpg");
  --footer-img-desktop: url("../assets/desktop/image-footer.jpg");
}

.btn {
  padding: var(--spacing-200) var(--spacing-500);

  border-radius: 2rem;
  font: var(--text-preset-5);
  color: var(--color-white);
  text-align: center;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.btn-blue {
  background-color: var(--color-cyan-600);

  span {
    color: var(--color-cyan-300);
  }
}

.btn-purple {
  background-color: var(--color-purple-600);

  span {
    color: var(--color-purple-300);
  }
}

.number {
  display: flex;
  flex-direction: column;
  align-items: center;

  .line {
    width: 1px;
    height: var(--spacing-1000);

    background-color: var(--color-slate-300);
  }

  .circle {
    display: flex;
    width: var(--spacing-700);
    height: var(--spacing-700);
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    border: 1px solid var(--color-slate-300);
    background-color: var(--color-white);
  }
}
